@charset "UTF-8";

@font-face {
    font-family: 'Questrial';
    src: url('../fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}

:root {
    --fonte-padrao: 'Questrial';
    --fonte1: 'Great Vibes';
}

* {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(180, 180, 180, 0.714);
}

header {
    /*background-color: rgba(24, 90, 212, 0.905);*/
    background-image: linear-gradient(to bottom, rgba(24, 90, 212, 0.905), rgba(20, 82, 198, 0.905), rgba(18, 60, 139, 0.867));
}

h1 {
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
    font-size: 2.8em;
}

header > i {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

nav {
    background-color: rgba(18, 60, 139, 0.867);
    text-align: center;
    padding: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.574);
}

nav > a {
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    font-size: 1.3em;
}

#tel-float {
    text-align: center;
    animation: float 1s ease-in-out infinite;
    transform: translateY(0px);
    font-size: 2.5em;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

#contato {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2, p {
    text-align: center;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
 }


p:hover {
    color: white;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
}


/*=========== LOCALIZAÇÃO ============*/

#mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

#mapa > iframe {
    width: 85vw;
    height: 78vh;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.53);
}

footer {
    text-align: center;
    margin: 10px;
}

footer > a:hover {
    text-decoration: underline;
}