@charset "UTF-8";

@font-face {
    font-family: 'Questrial';
    src: url('../fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}

:root {
    --fonte-padrao: 'Questrial';
    --fonte1: 'Great Vibes';
}

* {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(180, 180, 180, 0.714);
    background-image: url('../img/vista-ebv.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

header {
    /*background-color: rgba(24, 90, 212, 0.905);*/
    background-image: linear-gradient(to bottom, rgba(24, 90, 212, 0.905), rgba(20, 82, 198, 0.905), rgba(18, 60, 139, 0.867));
}

h1 {
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
    font-size: 2.8em;
}

header > i {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

nav {
    background-color: rgba(18, 60, 139, 0.867);
    text-align: center;
    padding: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.574);
}

nav > a {
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}

#tel-float {
    text-align: center;
    animation: float 1s ease-in-out infinite;
    transform: translateY(0px);
    font-size: 2.5em;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

#contato {
    background-image: linear-gradient(to bottom, rgba(18, 60, 139, 0.699),rgba(28, 63, 127, 0.764), rgba(20, 82, 198, 0.466), rgba(33, 82, 173, 0.052));
    padding: 20px 10px;
    border-radius: 10px;
}

h2, p {
    text-align: center;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
 }


p:hover {
    color: white;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
}

/*=========== LOCALIZAÇÃO ============*/

#mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

#mapa > iframe {
    width: 85vw;
    height: 78vh;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.53);
}

footer {
    text-align: center;
    margin: 10px;
}

footer a {
    color: white;
}

footer > a:hover {
    text-decoration: underline;
}

/*=========== GALERIA ============*/

body#galeria {
    background-image: linear-gradient(to top, rgba(16, 50, 113, 0.603), rgba(42, 70, 121, 0.603), rgba(47, 68, 106, 0.532));
}

#img01 > img {
    width: 90vw;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 8px;
}

@media (max-width: 422px) {
    nav > a {
        font-size: 3vw;
    }
    h1 {
        font-size: 12vw;
    }
    #contato {
        font-size: 6vw;
    }
}

@media (min-width: 1024px) {
    #img01 > img {
        width: 80vw;
    }
}

@media (min-width: 1200px) {
   #img01 >img {
    width: 65vw;
   }
}